<body>
  <h1>Sistema DeckMaster - Gerenciador de Cartas de Baralho</h1>
  <p>Nosso sistema oferece uma maneira fácil e eficiente de gerenciar suas cartas de baralho favoritas. Aqui está uma visão geral das principais funcionalidades:</p>
  <ul>
      <li><strong>Cadastro de Cartas:</strong> Adicione novas cartas ao seu baralho com facilidade. Preencha as informações necessárias, como nome da carta, tipo (espadas, copas, ouros, paus), valor e qualquer habilidade especial que ela possa ter.</li>
      <li><strong>Visualização de Cartas:</strong> Explore todas as cartas cadastradas em sua coleção. Veja seus detalhes, como nome, tipo e valor, em uma interface limpa e organizada.</li>
      <li><strong>Atualização de Cartas:</strong> Edite as informações das cartas conforme necessário. Se você perceber que cometeu um erro no cadastro ou quiser adicionar mais detalhes, basta acessar a função de edição e fazer as alterações desejadas.</li>
      <li><strong>Exclusão de Cartas:</strong> Remova cartas que não são mais necessárias em sua coleção. Seja por duplicidade, erro de cadastro ou simplesmente por não se encaixarem mais em sua estratégia de jogo, você pode excluir cartas com apenas alguns cliques.</li>
  </ul>
  <p>Com o Sistema CRUD de Cartas de Baralho, você pode gerenciar sua coleção de forma eficiente, garantindo que sempre tenha as cartas certas à mão para suas partidas de jogo. Seja você um jogador casual ou um mestre estrategista, nosso sistema está aqui para tornar o gerenciamento de cartas de baralho uma tarefa simples e sem complicações.</p>
</body>
