<div class="container">
  <form [formGroup]="formGroup" novalidate (ngSubmit)="enviar()">
    @if (!formGroup.invalid || id == '' ) {
      <div class="form">
        <mat-card-header>
          <h2>
            {{ id ? 'Editar' : 'Nova' }} Carta
          </h2>
        </mat-card-header>
        <section class="div-selects">
          <mat-form-field>
            <mat-select formControlName="caracter">
              @for (caracter of Caracter; track $index) {
                <mat-option [value]="caracter">{{ caracter}}</mat-option>
              }
            </mat-select>
            @if (formGroup.controls['naipe'].hasError('required')) {
              <mat-error>Campo <strong>obrigatório</strong></mat-error>
            }
            <mat-label><strong> Caracter </strong> <em></em></mat-label>
          </mat-form-field>
          <mat-form-field>
            <mat-select formControlName="naipe">
              @for (naipe of Naipes; track $index) {
                <mat-option [value]="naipe">{{ naipe}}</mat-option>
              }
            </mat-select>
            @if (formGroup.controls['naipe'].hasError('required')) {
              <mat-error>Campo <strong>obrigatório</strong></mat-error>
            }
            <mat-label><strong> Naipe </strong> <em></em></mat-label>
          </mat-form-field>
        </section>
        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            type="submit"
          >
            {{ id ? 'Salvar alterações' : 'Incluir' }}
          </button>
        </mat-card-actions>
      </div>
    }@else {

      @if (authService.logado$ | async) {
        <h1>Sem autorização, sua sessão expirou refaça o login para continuar!</h1>
      }@else {
        <h1>Sem autorização, faça o login para continuar!</h1>
      }
      <button
      mat-button
      aria-label="Botão de fazer login na aplicação"
      (click)="logout()"
      >
        <mat-icon>login</mat-icon>
        Fazer login
      </button>
    }
  </form>
  @if(id){
    <button
      mat-raised-button
      color="warn"
      (click)="excluir()"
    >
      Remover Carta
    </button>
  }
</div>
